<body>
	
	<section id='main-body'>
		
		<section id='centre-column'>

				<%= partial :peeps %>

		<section id='right-column'>

			<% if current_user %>
			
				<%= partial :user_profile %>

			<% else %>

				<%= partial :sign_in_form %>

				<%= partial :forgot_password_form %>

				<%= partial :sign_up_form %>

			<% end %>

		</section>

	</section>

<script src='/scripts/jquery-min.js' type='text/javascript'></script>
<script src='/scripts/handlebars.js' type='text/javascript'></script>	
<script src='/scripts/interface.js' type='text/javascript'></script>

</body>