<!DOCTYPE html>

<html>
	
	<head>
		<title>Chitter</title>
		<link rel='stylesheet' type='text/css' href='/css/reset.css'>
		<link rel='stylesheet' type='text/css' href='/css/stylesheet.css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900' rel='stylesheet' type='text/css'>
	</head>
	
	<body>

		<%= partial :header %>
		<%= partial :flash %>
		<%= yield %>
		<%= partial :signup %>
		<%= partial :profile %>
		<%= partial :forgotpassword %>
		<%= partial :footer %>	
	
	</body>

</html>